<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-document-reader-api" version="7.3.583-nightly"
  xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>DocumentReaderApi</name>
  <description>Cordova plugin Document reader api</description>
  <license>commercial</license>
  <keywords>cordova,document,reader,docreader,regula,scanner,mrz</keywords>

  <js-module name="DocumentReader" src="www/DocumentReader.js">
    <clobbers target="DocumentReader" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="DocumentReader">
        <param name="ios-package" value="RGLWDocumentReader" />
      </feature>
    </config-file>
    <header-file src="src/ios/RGLWDocumentReader.h" />
    <source-file src="src/ios/RGLWDocumentReader.m" />
    <header-file src="src/ios/RGLWJSONConstructor.h" />
    <source-file src="src/ios/RGLWJSONConstructor.m" />
    <header-file src="src/ios/RGLWConfig.h" />
    <source-file src="src/ios/RGLWConfig.m" />
    <podspec>
        <config>
        </config>
      <pods>
        <pod name="DocumentReader" spec="7.4.3826" />
      </pods>
    </podspec>
  </platform>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="DocumentReader">
        <param name="android-package" value="cordova.plugin.documentreader.DocumentReader" />
      </feature>
    </config-file>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/DocumentReader.kt" target-dir="java/cordova.plugin.documentreader" />
    <source-file src="src/android/JSONConstructor.kt" target-dir="java/cordova.plugin.documentreader" />
    <source-file src="src/android/Config.kt" target-dir="java/cordova.plugin.documentreader" />
    <source-file src="src/android/Utils.kt" target-dir="java/cordova.plugin.documentreader" />
    <source-file src="src/android/BluetoothUtil.kt" target-dir="java/cordova.plugin.documentreader" />
  </platform>
</plugin>
